<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/javascripts/bootstrap.bundle.min.js"></script>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/util.js"></script>
    <script src="/javascripts/message.js"></script>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
  <header class="navbar navbar-expand-lg navbar-light bg-light" id="navigation">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between px-5 py-2" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">홈</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/schmanager">스키마 조회</a>
        </li>            
        <li class="nav-item">
          <a class="nav-link" href="/schregister">스키마 등록</a>
        </li>        
        <li class="nav-item">
          <a class="nav-link" href="/analyzer">다양성 검사</a>
        </li>        
        <li class="nav-item">
          <a class="nav-link" href="/result">정확성 검사</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/report">레포트 출력</a>
        </li>
      </ul>
      <ul class="navbar-nav user-nav d-flex">
        <% if (isLogged == false) { %>
        <li class="navbar-nav">
          <a class="nav-link" href="/users/signin">로그인</a>
        </li>
        <li class="navbar-nav">
          <a class="nav-link" href="/users/signup">회원가입</a>
        </li>
        <% } else {%>
        <li class="navbar-nav">
          <a class="nav-link" href="/users/profile">프로필</a>
        </li>
        <li class="navbar-nav">
          <a class="nav-link" href="/users/signout">로그아웃</a>
        </li>
        <% } %>
      </ul>
    </div>
  </header>
  <main class="bd-content" role="main">
    <div class="container-fluid">
        <%- body %> 
    </div>
  </main>
  <div class="modal fade" id="message" tabindex="-1" role="dialog" aria-labelledby="message" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content text-break">
        <div class="modal-header">
          <h5 class="modal-title" id="validate_logs_Schema_name">Message</h5>
          <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">      
          <% if(typeof(message) != 'undefined') { %> 
            <div class="alert"><%=message%></div>
            <% } %>
        </div>
        <div class="modal-footer d-flex">
          <button type="button" class="modal-close btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <%- script %>
  <%- style %>
  </body> 

</html>

